{% extends "base.html" %}

{% block title %}
    Gênero
{% endblock title %}

{% block extrascripts %}
    <link rel="stylesheet" href="/static/files/codes/css/genero_treemap.css" type="text/css" />
{% endblock extrascripts %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Gênero e Participação
{% endblock nomepagina %}

{% block pagedesc %}
    Entenda visualmente participação de mulheres e homens na política
{% endblock pagedesc %}

{% block breadcrumbs %}
    <li><a href="/index/">Home</a> &raquo;</li>
    <li><a href="/genero/">Gênero</a> &raquo;</li>
    <li><a href="/genero/tematica/treemap">Análise: Temáticas por Gênero</a></li>
{% endblock breadcrumbs %}

{% block content %}
     <article id="descricao" class="inwrap">
        O objetivo deste projeto é fazer uma análise gráfica da participação de deputadas e deputados na Câmara Federal.<br/>
        É propósito observar as participações feminina e masculina na casa legislativa, seja do ponto de vista quantitativo, seja do ponto de vista qualitativo.<br/>
        <h4 style="margin-bottom:5px;">O que é este gráfico?</h4>
        <aside id="como-funciona" style="margin: 0 90px 10px 20px; padding: 10px; background-color: rgba(220,220,220,0.7); -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;">
            Trata-se de uma visualização de dados treemap em que são apresentadas as palavras mais frequentes nas indexações de proposições legislativas para cada um dos gêneros. No primeiro gráfico temos as palavras mais recorrentes nas indexações das proposições apresentadas por mulheres enquanto no segundo as palavras mais recorrentes nas indexações de proposições apresentadas por homens.<br/>
        </aside>
        Analise as frequências de temas por Gênero e tire suas próprias conclusões.<br/>
    
        <!--Quantidade de palavras-chave consideradas nesta análise: <b>33</b> palavras.<br/><br/>
        Quantidade de partidos consideradas nesta análise: <b>75</b> partidos.<br/><br/-->
        Os dados da Câmara dos Deputados utilizados para análise estão disponíveis para <a href="https://gitlab.com/radar-parlamentar/radar/">download aqui</a>.<br/>
        <br/>
        Clique no Gráfico para ver as temáticas de homens e mulheres. Para voltar para a vista anterior, cline na barra de título laranja.

        <figure id="mulheres"><center><img id="loading" src="/static/files/images/spinner.gif"></img></center></figure>
    </article>
        <div style="clear:right"/>
{% endblock content %}

{% block extrajsend %}
    {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'localhost:8000' %}
        <script src="/static/files/codes/js/d3.min.js"></script>
    {% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
        <script type="text/javascript">
          if (typeof d3 === 'undefined') {
            var e = document.createElement('script');
                e.src = '/static/files/codes/js/d3.min.js';
                e.type='text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
          }
        </script>
    {% endif %}
    <script src="/static/files/codes/js/genero_treemap.js"></script>
{% endblock extrajsend %}

{% block extrascriptsend %}
    menuActive("genero");
    $(document).ready(function() {
    });
{% endblock extrascriptsend %}

